@import "kde-breeze.css";

@media (prefers-color-scheme: light) {
	/* Override colors */

	:root {
		--kde-accent: accentcolor;
		--kde-view-background: #fcfcfc;
		--kde-window-background: #eff0f1;
		--kde-hover-decoration: rgba(72, 180, 72, 0.3);
		--kde-tab-active: #eff0f1;
		--kde-tab-inactive: #bdc3c7;
		--kde-tab-hover: var(--kde-hover-decoration);
		--kde-tab-text: #232627;
		--kde-border-color: #bdc3c7;
	}

}
