@media (prefers-color-scheme: light) {
	:root {
		--kde-accent: accentcolor;
		--kde-view-background: #fcfcfc;
		--kde-window-background: #eff0f1;
		--kde-hover-decoration: rgba(147, 206, 233, 0.3);
		--kde-tab-active: #eff0f1;
		--kde-tab-inactive: #bdc3c7;
		--kde-tab-hover: var(--kde-hover-decoration);
		--kde-tab-text: #232627;
		--kde-border-color: #bdc3c7;
		--toolbar-bgcolor: var(--kde-window-background) !important;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--kde-accent: accentcolor;
		--kde-view-background: #141618;
		--kde-window-background: #202326;
		--kde-hover-decoration: rgba(147, 206, 233, 0.3);
		--kde-tab-active: #202326;
		--kde-tab-inactive: #1b1d20;
		--kde-tab-hover: var(--kde-hover-decoration);
		--kde-tab-text: #fcfcfc;
		--kde-border-color: #535659;
		--toolbar-bgcolor: var(--kde-window-background) !important;
	}
}

/* ==============================
	* Style the navbar and urlbar
	* ============================== */

#nav-bar {
	border-top: 1px solid var(--kde-border-color) !important;
	background: var(--kde-window-background) !important;
	z-index: 1 !important;  /* Lower z-index for active tab to cover up the border */
}

#urlbar,
#urlbar-background {
	box-shadow: none !important;
}
#urlbar {
	border: 1px solid var(--kde-border-color) !important;
	margin-top: 2px !important;
	margin-bottom: 4px !important;
	border-radius: 4px !important;
	min-height: 32px !important;
	max-height: 32px !important;
}
#urlbar-background {
	background: var(--kde-view-background) !important;
}

/* Style the urlbar and its dropdown when activated (e.g. by typing) */
#urlbar[open] .urlbarView,
#urlbar[focused="true"] .urlbarView {
	background: var(--kde-view-background) !important;
	box-shadow: none !important;
}
#urlbar[open] .urlbarView,
#urlbar[open] .urlbarView-body {
	border-radius: 0 !important;
	box-shadow: none !important;
}
/* Style each row */
.urlbarView-row {
	min-height: 28px !important;
	max-height: 28px !important;
	border-radius: 0 !important;
}
.urlbarView-row[aria-selected="true"] {
	background: var(--kde-accent) !important;
	font-weight: bold !important;
}
.urlbarView-row:hover:not([aria-selected="true"]) {
	background: var(--kde-hover-decoration) !important;
}

/* Workarounds to make the position consistent with when not opened */
#urlbar[open] {
	/* This is just the url bar background, separate from below */
	margin-top: 6px !important;
}
#urlbar[open] .urlbar-input-container {
	/* Adjust this first to target the entire container */
	margin-left: -5px !important;
	margin-top: -6px !important;
}
#urlbar[open] #urlbar-input {
	/* Adjust the text input */
	margin-left: 0px !important;
	margin-top: 0px !important;
}
#urlbar[open] .urlbar-go-button {
	/* Adjust the "go" or "search" arrow at the end of the bar */
	margin-right: 0px !important;
	margin-top: 0px !important;
}
#urlbar[open] .urlbarView {
	/* Adjust the suggestions dropdown */
	border-top: none !important;
	margin-top: -7px !important;
	/* Below adjusts width */
	margin-left: 0px !important;
	margin-right: 0px !important;
}


/* ==============================
	* Style the tabs and tabs bar
	* ============================== */

#TabsToolbar {
	min-height: 40px !important;
	max-height: 40px !important;
	background: var(--kde-window-background) !important;
	margin-bottom: -10px !important;
}

.tabbrowser-tab {
	margin-top: 2px !important;
	margin-bottom: 0px !important;
	min-height: 0px !important;
	max-height: 32px !important;
	min-width: 0px !important;
	box-shadow: none !important;
	border-radius: 4px 4px 0px 0px !important;
	margin-inline-start: 0 !important;
	margin-inline-end: 0 !important;
	padding-inline: 0 !important;
}
.tab-background {
  box-shadow: none !important;
}
.tabbrowser-tab .tab-content {
	margin-top: -8px !important;
}
.tabbrowser-tab .tab-label {
}
.tabbrowser-tab[fadein]:not([pinned]) {
	/* Tabs width */
	max-width: 250px !important;
	min-width: 100px !important;
}

/* Active tab */
.tabbrowser-tab[selected="true"] .tab-background {
	border: 1px solid var(--kde-border-color) !important;
	background-color: var(--kde-tab-active) !important;
	color: var(--kde-tab-text) !important;
	/* Cover up the border drawn by the navbar, so it seems that the active tab blends into the bar */
	z-index: 2 !important;  /* Higher z-index than navbar, cover border */
}
.tabbrowser-tab[selected="true"] .tab-content {
	z-index: 3 !important;  /* Display tab content over teh background */
}

/* Inactive tabs */
.tabbrowser-tab:not([selected="true"]) .tab-background {
	background-color: var(--kde-tab-inactive) !important;
	color: var(--kde-tab-text) !important;
}

#tabs-newtab-button {
	margin-top: -6px !important;
}
#tabs-newtab-button .toolbarbutton-icon {
	max-width: 20px !important;
	max-height: 22px !important;
	padding: 2px !important;
}

/* ====================================================
	* Style menus, including:
	*   Application menu (hamburger menu)
	*   Right-click menu (context menu)
	*   Dropdown menus from navbar icons (e.g. library)
	* ==================================================== */

/* Shared for all states */
.panel-subview-body > toolbarbutton,
.subviewbutton,
.menu-iconic,
menuitem,
menu {
	border: 1px solid transparent !important; /* Persistent border for spacing */
	border-radius: 4px !important;
	padding-block: 4px !important;  /* Vertical padding */
	padding-inline: 8px !important; /* Horizontal padding */
	margin-block: 0px !important;   /* Vertical margin */
}

/* Style hovered, active, or selected */
:is(
	.panel-subview-body > toolbarbutton,
	.subviewbutton,
	.menu-iconic,
	menuitem,
	menu
):is(
	:hover,
	:focus,
	:active,
	[open],
	[selected]
) {
	border: 1px solid var(--kde-accent) !important;
	background-color: var(--kde-hover-decoration) !important;
}

/* ===============================================================
	* Style buttons (and bookmark items, which I count as buttons)
	* =============================================================== */

/* Shared for all states */
.toolbarbutton-1 .toolbarbutton-icon,
#downloads-button > stack:nth-child(1) {
	border-radius: 4px !important;
	border: 1px solid transparent !important;  /* Persistent border for spacing */
	padding: 6px !important;
	background: none !important;
	box-shadow: none !important;
}
#PlacesToolbarItems .bookmark-item {
	border: 1px solid transparent !important;  /* Persistent border for spacing */
	background: none !important;
	box-shadow: none !important;
	/* Adjust padding */
	padding-top: 1px !important;
	padding-bottom: 1px !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
}

/* When hovered, clicked, or active: add colored border */
:is(
	.toolbarbutton-1,
	stack:nth-child(1)
):is(
	:hover,
	:focus,
	:active,
	[open],
	[selected]
	[checked]
	[aria-pressed="true"]
) .toolbarbutton-icon,
#downloads-button:hover > stack:nth-child(1),
#downloads-button:focus > stack:nth-child(1),
#downloads-button[open] > stack:nth-child(1),
#PlacesToolbarItems .bookmark-item:hover,
#PlacesToolbarItems .bookmark-item:focus,
#PlacesToolbarItems .bookmark-item:active {
	border: 1px solid var(--kde-accent) !important;
}

/* When clicked or active: add fill color */
:is(
	.toolbarbutton-1,
	stack:nth-child(1)
):is(
	:focus,
	:active,
	[open],
	[selected]
) .toolbarbutton-icon,
#PlacesToolbarItems .bookmark-item:focus,
#PlacesToolbarItems .bookmark-item:active,
#downloads-button:focus > stack:nth-child(1),
#downloads-button[open] > stack:nth-child(1) {
	background: var(--kde-hover-decoration) !important;
}



/* ===================================
 * Workarounds for stubborn buttons
 * =================================== */

/* Pinned addons buttons */
:is(
	.toolbarbutton-1[id$="-browser-action"],
	.toolbarbutton-1[id$="-BAP"],
	#PanelUI-menu-button,
	#downloads-button
) stack:nth-child(1) {
	background: none !important;
	box-shadow: none !important;
}
.toolbarbutton-1[id$="-browser-action"] .toolbarbutton-icon,
.toolbarbutton-1[id$="-BAP"] .toolbarbutton-icon,
#PanelUI-menu-button .toolbarbutton-icon {
	height: 32px !important;
	width: 32px !important;
	padding: 6px !important;
	margin: -6px !important;
}
/* Downloads button */
#downloads-button > stack:nth-child(1) {
	height: 32px !important;
	width: 32px !important;
	padding: 6px !important;
}
