/* Default to Catppuccin Latte Rosewater for light mode */

@media (prefers-color-scheme: light) {
    /* Override colors */
    :root {
		--kde-hover-decoration: rgba(32, 159, 181, 0.3);
        --kde-view-background: #eff1f5;
        --kde-window-background: #e6e9ef;
    }
}

/* Catppuccin Mocha Rosewater variant */

@media (prefers-color-scheme: dark) {
    /* Override colors */
    :root {
        --kde-hover-decoration: rgba(116, 199, 236, 0.3);
        --kde-view-background: #1e1e2e;
        --kde-window-background: #181825;
    }
}
