/* Catppuccin Latte Rosewater variant */

@media (prefers-color-scheme: light) {
	/* Override colors */
	:root {
		--kde-hover-decoration: rgba(223, 142, 29, 0.3);
        --kde-view-background: #eff1f5;
        --kde-window-background: #e6e9ef;
	}
}

/* Default to Catppuccin Mocha Rosewater for dark mode */

@media (prefers-color-scheme: dark) {
	/* Override colors */
	:root {
        --kde-hover-decoration: rgba(249, 226, 175, 0.3);
        --kde-view-background: #1e1e2e;
        --kde-window-background: #181825;
	}
}
