/* Default to Catppuccin Latte Rosewater for light mode */

@media (prefers-color-scheme: light) {
    /* Override colors */
    :root {
		--kde-hover-decoration: rgba(223, 142, 29, 0.3);
        --kde-view-background: #eff1f5;
        --kde-window-background: #e6e9ef;
    }
}

/* Catppuccin Macchiato Rosewater variant */

@media (prefers-color-scheme: dark) {
    /* Override colors */
    :root {
        --kde-hover-decoration: rgba(238, 212, 159, 0.3);
        --kde-view-background: #24273a;
        --kde-window-background: #1e2030;
    }
}
