/* Default to Catppuccin Latte Rosewater for light mode */

@media (prefers-color-scheme: light) {
    /* Override colors */
    :root {
        --kde-hover-decoration: rgba(23, 146, 153, 0.3);
        --kde-view-background: #eff1f5;
        --kde-window-background: #e6e9ef;
    }
}

/* Catppuccin Mocha Rosewater variant */

@media (prefers-color-scheme: dark) {
    /* Override colors */
    :root {
        --kde-hover-decoration: rgba(148, 226, 213, 0.3);
        --kde-view-background: #1e1e2e;
        --kde-window-background: #181825;
    }
}
