/* Default to Catppuccin Latte Rosewater for light mode */

@media (prefers-color-scheme: light) {
    /* Override colors */
    :root {
        --kde-hover-decoration: rgba(220, 138, 120, 0.3);
        --kde-view-background: #eff1f5;
        --kde-window-background: #e6e9ef;
    }
}

/* Catppuccin Frappé Rosewater variant */

@media (prefers-color-scheme: dark) {
    /* Override colors */
    :root {
        --kde-hover-decoration: rgba(242, 213, 207, 0.3);
        --kde-view-background: #303446;
        --kde-window-background: #292c3c;
    }
}
