/* Green variant */

@media (prefers-color-scheme: light) {
	/* Override colors */
	:root {
		--kde-hover-decoration: rgba(72, 180, 72, 0.3);
	}
}

@media (prefers-color-scheme: dark) {
	/* Override colors */
	:root {
		--kde-hover-decoration: rgba(72, 180, 72, 0.3);
	}
}
