/* Ubuntu Yaru orange variant */

@media (prefers-color-scheme: light) {
	/* Override colors */
	:root {
		--kde-hover-decoration: rgba(233, 84, 32, 0.3);
	}
}

@media (prefers-color-scheme: dark) {
	/* Override colors */
	:root {
		--kde-hover-decoration: rgba(233, 84, 32, 0.3);
	}
}
