/* Yellow variant */

@media (prefers-color-scheme: light) {
	/* Override colors */
	:root {
		--kde-hover-decoration: rgba(245, 245, 81, 0.3);
	}
}

@media (prefers-color-scheme: dark) {
	/* Override colors */
	:root {
		--kde-hover-decoration: rgba(245, 245, 81, 0.3);
	}
}
